# Please see https://i3wm.org/docs/userguide.html for a complete reference!

# System
floating_modifier $mod

# Custom
set $mod       Mod4
set $feg_bg    /invar/images/desktop-wallpapers/$(ls /invar/images/desktop-wallpapers/ | sort -R | tail -1)
set $i3lock_bg /invar/images/lockscreen-wallpaper.png

font pango:monospace 12

## start a terminal
bindsym $mod+Return split v exec i3-sensible-terminal
bindsym $mod+Shift+Return split h exec i3-sensible-terminal

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

bindsym $mod+h split h
bindsym $mod+v split v
bindsym $mod+d exec rofi -show drun
bindsym $mod+f fullscreen toggle

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle

bindsym $mod+a focus parent
bindsym $mod+c focus child

set $ws1 1:terminal
set $ws2 2:web
set $ws3 3:vscode
set $ws4 4:spotify
set $ws5 5:misc
set $ws6 6:general
set $ws7 7:last

bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7

bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7

bindsym $mod+Ctrl+Right resize shrink width 5 px or 5 ppt
bindsym $mod+Ctrl+Up resize grow height 5 px or 5 ppt
bindsym $mod+Ctrl+Down resize shrink height 5 px or 5 ppt
bindsym $mod+Ctrl+Left resize grow width 5 px or 5 ppt

bindsym $mod+q kill
bindsym $mod+l exec --no-startup-id i3lock -i $i3lock_bg
bindsym $mod+b exec --no-startup-id /usr/bin/feh --bg-scale $feg_bg
bindsym $mod+p exec --no-startup-id flameshot gui
bindsym $mod+Tab workspace back_and_forth
bindsym Mod1+Tab exec --no-startup-id $HOME/.config/i3/i3-mruws.py LVDS1


bindsym XF86AudioMute exec --no-startup-id amixer set Master toggle # mute sound
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 0 +5% #increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 0 -5% #decrease sound volume
bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc 5 # increase screen brightness
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec 5 # decrease screen brightness

for_window [class="^.*"] border pixel 0
assign [class="Firefox-esr"] $ws2
assign [class="Code"]        $ws3
# Spotify has a bug hence assign doesn't work right now
# Issue: https://github.com/i3/i3/issues/2060
# assign [class="^Spotify*"]   $ws4
for_window [class="^Spotify*"] move to workspace $ws4

exec --no-startup-id /usr/bin/xrandr -s 1366x768 -r 40
exec --no-startup-id i3lock -i $i3lock_bg -c 000000
exec --no-startup-id /usr/bin/uxterm
exec --no-startup-id /usr/bin/firefox
exec --no-startup-id /usr/bin/code
exec --no-startup-id /usr/bin/spotify
exec --no-startup-id /usr/bin/xrdb /home/atb00ker/.Xdefaults
exec --no-startup-id /usr/bin/feh --bg-scale $feg_bg
exec --no-startup-id /usr/bin/compton --config ~/.config/i3/compton.conf

bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Pause exec systemctl suspend
bindsym $mod+Shift+Home exec systemctl reboot
bindsym $mod+Shift+End exec systemctl poweroff
