[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=atb00ker-terminal
Comment=
Exec=xfce4-terminal --fullscreen
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

